.description_fld {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8em;
  padding: 23px;
  gap: 11em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.details_cont {
  max-width: 600px;
  flex: 1; 
}

.introduction {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px 0;
  color: #333;
  font-family: monospace;
}

.description {
  color: #666;
  line-height: 1.8;
  font-family: cursive;
  font-size: 20px;
  margin: 0;
}

.highlight {
  color: #ff6347; /* You can change this color to whatever you want */
  font-weight: bold;
  font-style: italic;
}

.greeting {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 10px;
}

.logo_fld {
  width: 120px;
  height: 120px;
  background-color: black; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(30px); 
}

.logo {
  font-size: 4rem;
  font-family: cursive;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
