.App {
  justify-content: space-around;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.introduction_fld {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: 8em;
  left: 13em;
}

.details_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.bottom-fld {
  margin-bottom: 30px;
}

.about-fld {
  border-top: 3px solid #5b626e;
  border-bottom: 3px solid #5b626e;
  margin-bottom: 30px;
}
.ProjectSection {
  height: auto;
  width: 100%;
  display: inline-block;
}
